# COPIAR COMO .env — NUNCA subir a GitHub

DB_HOST=89.117.56.39
DB_PORT=3308
DB_NAME=papeleria_app
DB_USER=pos_user
DB_PASSWORD=Pap3l3r!4#S3cur3_2026

API_SECRET=POS_Api_S3cr3t_2026!
NODE_ENV=production
